<!-- views/success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Github OAuth Perfil</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary text-center">
          <span class="fa fa-github"></span> Perfil Github
        </h1>
        <a class="btn btn-danger" href="/">Cerrar Sesion</a>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <div>
              <p>
                <strong>Nombre:</strong> <%= userData.name %><br />
                <strong>Usuario:</strong> <%= userData.login %><br />
                <strong>Bio:</strong> <%= userData.bio %><br />
              </p>
              <a  class="btn btn-success" href="/repos">Repositorios</a> <a class="btn btn-info" href="/users">Usuarios Registrados</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
